body {
  text-align: center;
  background-color: aqua;
}

#level-title {
  /* font-family: 'Press Start 2P', cursive; */
  font-family: cursive;
  font-size: 3rem;
  margin:  5%;
  color: black;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.row{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.btn {
  margin: 25px;
  /* display: block; */
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
 
}
.btn>p{
    text-align: center;
    font-weight: bolder;
    font-family: cursive;
    font-size: 2.5rem;
    color: white;
    margin-top: 4rem;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: rgb(12, 188, 12);
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: orange;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
